
#calendarSelect li {
	display: inline-block;
}
#menubar li {
	display: inline-block;
}
#authorize-div{
	margin-left: 300px;	
}

/*Color Calendar based on calendar classname */
.vis-item{
	border-width: 1px;
}
.vis-item.work-planning  { 
	border-color: #1587BD;
    color: #1d1d1d;
    background-color: #9FC6E7;
}
.vis-item.work-milestones     { 
    border-color: #373AD7;
    color: #1d1d1d;
    background-color: #9A9CFF;
}
.vis-item.personal-planning {    
	border-color: #f8df86;
    color: #1d1d1d;
    background-color: #FBE983;
}
.vis-item.personal-milestones {
    border-color: #CB7403;
    color: #1d1d1d;
    background-color: #FFAD46;
}
.vis-item.event-schedule  {
	border-color: #4DB810; 
	color:#1d1d1d;
	background-color:#80d24f;
}

.panel {
  /*left: -20em !important;*/
  background: #ccc;
  margin-right: 320px;
  margin-left: -25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
  width: 260px;
  float: left;
  z-index: 99999; }
#outer{
  margin-left: -10px;
}
.panel h2{
  margin-left: 15px;
}

#midinner{
  margin-left: -25px;
}